<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	
	<div class="container">

	<h1> <u> HANGMAN GAME </u> </h1>
	<h3> You have 7 tries to guess the secret word and win the game! </h3>
		
		<%= yield %>

	</div>
</body>
</html>