<h1> <%= @user.name %>'s Events</h1>
<hr>
<% if @user.events.any? %>
	<h2>Attending:</h2>
	<ol>
		<%= render @upcoming_events %>
	</ol>
	<h2>Attended:</h2>
	<ol>
		<%= render @previous_events %>
	</ol>
<% else %>
	<p>This user doesn't have any events yet.</p>
<% end %>
