<html>
  <head>
  </head>
  	<style>
  		body {
  			background-color: <%= background_color %>;
  		}
  	</style>
  <body>
  	<p>
  		<h1> Welcome to Web Guesser</h1>
  			<h3>Try to guess the secret number!</h3>
  	</p>
    <p>
    	<%= message %>
    </p>
    <form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
		</form>
  </body>
</html>