body {
	font-size: 14px;
	font-family: arial;
}
select {
	border-style: none;
	background-color: #f1f1f1;
	border: 2px solid gray;
	color: green;

}

hr {
	border: 1px solid gray;
}
/* flights */

.flights {
}

.flight {
	padding: 5px;
	margin: 5px;
	border: 1px solid gray;
	width: 65%;
}

#search {
	border: 3px solid green;
	padding: 10px;
	width: 70%;

	input[type="submit"] {
		border: 1px solid green;
		color: green;
		font-weight: bold;
		width: 70px;
		height: 30px;
	}
}